body {
    background: #1766ce;
  }
  
  html {
    font-size: 20px;
  }
  
  .header {
    padding: 1%;
    margin-bottom: 10px;
    flex-flow: row wrap;
    display: flex;
  }
  
  h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px black;
    color: #1716ce;
    flex: 5;
    text-transform: uppercase;
  }
  
  
  /* start flexing */
  .flex-outer li,
  .flex-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 225px;
  }

  .flex-outer{
    max-width: 800px;
    padding: 0px 16px;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    border: none;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-outer > li > button {
    margin-left: 0px;
    padding: 6px 12px;
    border-radius: 3px;
  }
  
  .flex-inner li {
    width: 80px;
  }
  
  .flex-inner {
    justify-content: space-between;
  }