 /* CSS */
body {
    background: #1766ce;
  }
  
.wrapper {
    display: flex;
    flex-direction: column;
  }

.header {
    color: #1716ce;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 8px;
  }
  
.container {
    min-height: 100%;
  }
  
  
  /* Lab styles */
.flex-outer li,
.flex-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
.flex-outer > li > label,
.flex-outer li p {
    padding: 8px;
    flex: 1 0 125px;
    max-width: 225px;
  }
  
.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 225px;
  }
  
.flex-outer > li > button {
    margin-left: 0px;
    padding: 6px 12px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    border-radius: 3px;
  }

.flex-outer {
    padding: 0 16px;
    max-width:800px;
  }
  
.flex-inner li {
    width: 80px;
  }
  
.flex-inner {
    justify-content: space-between;
    padding: 0 8px;
  }